.html{
    background: steelblue;
}
    .cards {
    width: 25%;
    height: 70vh;
    background: rgb(215, 240, 147);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card-heater {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card-heater img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-footer {


    width: 25%;
    height: 50vh;
}